<div className="mt-4">
  <div>
    <h3>Khóa học của tôi</h3>
    <a href="/me/trash/courses">Thùng rác ({{deletedCount}})</a>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-2">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
          <label class="form-check-label" for="checkbox-all">
            Chọn tất cả
          </label>
        </div>
      </div>
      <div class="col-3">
        <div class="form-group">
          <select class="form-control-sm form-control" id="exampleFormControlSelect1">
            <option>Chọn hành động</option>
            <option value="delete">Xoá</option>
          </select>
        </div>
      </div>
      <div class="col">
        <div class="btn btn-primary btn-sm disabled">Thực hiện</div>
      </div>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Tên Khoá Học</th>
        <th scope="col">Thông Tin</th>
        <th scope="col">ID VIDEO</th>
      </tr>
    </thead>
    <tbody>
      {{#each course}}
      <tr>
        <td>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="courseIds[]" value="{{this._id}}">
          </div>
        </td>
        <th scope="row">{{sum @index 1}}</th>
        <td>{{this.name}}</td>
        <td>{{this.description}}</td>
        <td>{{this.idVideo}}</td>
        <td>
          <a href="/courses/{{this._id}}/edit" class="btn btn-link">Sửa</a>
          <a href="" class="btn btn-link" data-toggle="modal" data-target="#delete-course-modal"
            data-id="{{this._id}}">Xoá</a>
        </td>
      </tr>
      {{else}}
      <tr>
        <td colspan="5" class="text-center">
          Bạn chưa đăng khóa học nào.
          <a href="/courses/create">Đăng khóa học</a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
{{! Confirm }}
<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="delete-course-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xoá khoá học</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Bạn có chắc là muốn xoá
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
        <button id="btn-delete-course" type="button" class="btn btn-danger">Xoá bỏ</button>
      </div>
    </div>
  </div>
</div>
<form name="delete-course-form" method="POST"></form>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var courseId;
    var deleteForm = document.forms['delete-course-form'];
    var btnDeleteCourse = document.getElementById('btn-delete-course');
    var checkboxAll = $('#checkbox-all');
    var courseItemCheckboxs = $('input[ name="courseIds[]"]');


    $('#delete-course-modal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget);
      courseId = button.data('id');
    })
    btnDeleteCourse.onclick = function () {
      deleteForm.action = '/courses/' + courseId + '?_method=DELETE';
      deleteForm.submit();
    }
    //    CheckBox All Click
    checkboxAll.change(function () {
      var isChecked = $(this).prop('checked');
      courseItemCheckboxs.prop('checked', isChecked)

      /*
        if (isChecked) {
          courseItemCheckboxs.prop('checked', true)
        }
        else {
          courseItemCheckboxs.prop('checked', false)
        }
        */

        
    })
  })
</script>